@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    font-family: 'Noto Sans JP';
    font-size: 0.85rem;
    font-weight: 400;
    color: #121212;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    color: #121212;
    text-decoration: none;
}
main{
    margin: 0;
}

/* CSS変数 */
:root{
    --gap: 2vw;
}

.container{
    display: flex;
    justify-content: space-between;
}

/* side header menu */
#header{
    width: 40%;
    padding: 20px 40px;
    background-color: #fff;
    box-sizing: border-box;
}
.header-contents{
    position: sticky;
    top:20px ;
}
.header-menu{
    padding: 0;
}
.header-menu li{
    padding: 5px 0;
}
.sns-menu{
    padding:0;
}
.sns-menu li{
    padding: 5px 0;
}

/* video background */
#video{
    width: 100%;
    height: 100vh;
}
.video-bg{
    position: fixed;
    z-index: -100;
}

/* メインコンテンツ共通CSS */
.wrapper{
    width: 60%;
    padding: 0 20px;
    margin: 0 auto;
}

.project-img{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}
ul.project-img li{
    width: calc(50% - calc(var(--gap) / 2)); /* 2列でギャップを考慮 */
    box-sizing: border-box;
}
.project-img li a img{
    width: 100%;
    height: auto;
    display: block;
}


/* responsive */
@media (max-width: 375px) {
   
}