@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    font-family: 'Noto Sans JP';
    font-size: 0.85rem;
    font-weight: 400;
    color: #121212;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    color: #121212;
    text-decoration: none;
}
main{
    margin: 0;
    width: 100%;
}

/* CSS変数 */
:root{
    --gap: 2vw;
}

.container{
    display: flex;
    justify-content: space-between;
}

/* side header menu */
#header{
    width: 300px;
    padding: 10px 40px;
    background-color: #fff;
    box-sizing: border-box;
}
.header-contents{
    position: sticky;
    top:20px ;
}
.header-menu{
    padding: 0;
}
.header-menu li{
    padding: 5px 0;
}
.sns-menu{
    padding:0;
}
.sns-menu li{
    padding: 5px 0;
}

/* video background */
#video{
    width: 100%;
    height: 100vh;
}
.video-bg{
    position: fixed;
    z-index: -100;
}

/* メインコンテンツ共通CSS */
.wrapper{
    width: 900px;
    padding: 80px 20px;
    margin: 0 auto;
}

.sec-title{
    margin: 0 0 50px 0;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1.9rem;
}
.sec-title::before,
.sec-title::after{
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #fff;
}
.sec-title::before{
    margin-right: 20px;
}
.sec-title::after{
    margin-left: 20px;
}

#project{
    background: linear-gradient(to bottom, rgb(0, 0, 0,0), rgba(0, 0, 0, 0.8));
}
.project-img{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}
ul.project-img li{
    width: calc(50% - calc(var(--gap) / 2)); /* 2列でギャップを考慮 */
    box-sizing: border-box;
    position: relative;
    border:1px solid #fff;
}

/* 写真の飾りつけ */
ul.project-img li::after{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    box-shadow: inset 0 -30px 15px -1px #121212;
    z-index: 1;
  }

.project-img li a img{
    width: 100%;
    height: auto;
    display: block;
}


.pro-name{
    font-size: 0.75rem !important;
    margin: 0;
    position: absolute;
    bottom: 0px;
    color: #fff;
    font-size: 1rem;
    padding-left: 8px;
    z-index: 2;
}

#feature{
    background-color: rgb(0, 0, 0,0.8);
    color: #fff;
}
.feature-list{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.feature-list li{
    width: calc(100% - calc(2 * --gap));
    text-align: center;
}
a.feature-text{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1; /* widthと同じ値 */
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
a.feature-text::before{
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.6s ease 0s;
    background-color: rgb(255, 255, 255,0.5);
    z-index: -10;
}
a.feature-text:hover::before{
    width: 100%;
}
a.feature-text span{
    position: absolute; 
    z-index: 1; 
}


/* 家ができるまでの流れ */
#flow{
    background-color: #fff;
}
#flow .wrapper .sec-title{
    color: #121212;
}
#flow .wrapper .sec-title::before,
#flow .wrapper .sec-title::after{
    background-color: #121212;
}
.flow-wrapper{
    position: relative;
    display: flex;
}
.flowchart-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
}
.flowchart{
    margin:0 30px;
    width: 100%;
    padding: 0;
    z-index: 1;
}
.flow-wrapper dl{
    width: 70%;
    padding: 0;
}

.line{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 90%;
    background-color: #FFDD00;
    z-index: 0; /* 背景として表示 */
}

/* フローチャートの矢印 */
.flow-wrapper .flowchart li{
    background: #121212;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 220px;
    padding: 2em 1em;
    margin: 0 auto 2em;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
    z-index: 1;
}
.flowchart li:last-child {
    margin-bottom: 0;
}

.flow-text dt{
    display: flex;
    margin-left: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #121212;
    font-size: 1.2rem;
}
.circle_number{
    color: #ffffff;
    width: 5%;
    aspect-ratio: 1 / 1;
    /* margin-right: 15px;
    margin-bottom: 5px;
    padding-top: 13px; */
    background-color: #121212;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
}
.flow-text{
    margin: 0;
}
.flow-text dt span{
    margin-left: 20px;
}
.flow-text dd{
    margin-bottom: 20px;
}
.flow-info{
    margin: 20px 0 65px 30px;
}

/* お問い合わせ */
#contact{
    background-color: #fff;
}
#contact .sec-title{
    color: #121212;
}
#contact .sec-title::after,
#contact .sec-title::before{
    background-color: #121212;
}
.inquiry-box {
    display: flex;
    gap: var(--gap);
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
  }
.inquiry-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em 1em;
    width: 25%;
    border: 1px solid #121212;
    text-decoration: none;
    color: #121212;
    background-color: #ffffff;
    transition: all 0.1s ease;
}
.inquiry-button:hover {
    outline: 3px solid #121212;
}
#contact .wrapper{
    padding-bottom: 160px;
}


/* footer */



/* responsive */
@media (max-width: 375px) {
   
}